@{
    ViewData["Title"] = "Calculator";
}

@model StatisticsCalculator.Models.MeanCalculatorModel

<div class="text-center">
    <form asp-action="Clear" method="post">
        <div class="row">
            <div class="col"><h1>Calculator</h1></div>
            <div class="col"><button type="submit" name="operation" value="clear" class="btn btn-outline-secondary">Clear</button></div>
        </div>
    </form>
    <div class="row" style="background-color: #FFECD7; color: #000000;">
        @if (Model.Result == null)
        {
            <p><strong>Enter values below, then select an operation</strong></p>
        }
        @if (Model.Result != null)
        {
            <p><strong>@Model.Label</strong></p>
            <p><strong>@Model.Result</strong></p>
        }
    </div>
    <form asp-action="Calculate" method="post">
        <div class="form-group">
            <h3 align="left">Values</h3>
            <textarea asp-for="Values" name="Values" id="values" rows="5" class="form-control"></textarea>
            @* @if (Model.Result != null) *@
            @* { *@
            @*     <p><strong>Result: @Model.Result</strong></p> *@
            @* } *@
        </div>
    
        @* <button type="submit" name="operation" value="mean" class="btn btn-outline-secondary" style="margin: 10px">Compute Mean</button> *@
        @* <button type="submit" name="operation" value="sum" class="btn btn-outline-secondary" style="margin: 10px">Compute Sum</button> *@
        @* <button type="submit" name="operation" value="count" class="btn btn-outline-secondary" style="margin: 10px">Count Numbers</button> *@
        <div>
            <div class="col"><h2>Descriptive Statistics</h2></div>
            <button type="submit" name="operation" value="ssd" class="btn btn-outline-secondary" style="width: 100%; margin: 10px; background-color: #EBEBEB; color: #000000">Compute Sample Standard Deviation | one value per line</button> <br>
            <button type="submit" name="operation" value="psd" class="btn btn-outline-secondary" style="width: 100%; margin: 10px; background-color: #EBEBEB; color: #000000">Compute Population Standard Deviation | one value per line</button> <br>
            <button type="submit" name="operation" value="mean" class="btn btn-outline-secondary" style="width: 100%; margin: 10px; background-color: #EBEBEB; color: #000000">>Compute Mean | one value per line</button> <br>
            <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin: 10px; background-color: #EBEBEB; color: #000000">>Compute Z Score | value, mean, stdDev on one line</button>
        </div>
        <div>
            <div class="col"><h2>Single Linear Regression</h2></div>
            <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin: 10px; background-color: #EBEBEB; color: #000000">Compute Single Linear Regression Formula | one x,y pair per line</button> <br>
            <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin: 10px; background-color: #EBEBEB; color: #000000">Compute Y from Linear Regression Formula | x, m, b on one line</button> <br>
        </div>
    </form>
    @* <div style="margin: 10px"> *@
    @*     <h3>Values</h3> *@
    @*     <input style="height: 250px; width: 400px;" width="50px" height="100px" type="text"> *@
    @* </div> *@
    <br>
    
    
    
</div>
